<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32487306530-5jchifrhg4se7ave8vkf28d2ptp9apaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32487306530-5jchifrhg4se7ave8vkf28d2ptp9apaq</string>
	<key>API_KEY</key>
	<string>AIzaSyAFbHqPmJWyGwT5B5kclTkYrEcZNByHxps</string>
	<key>GCM_SENDER_ID</key>
	<string>32487306530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFire</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-6bdc0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-6bdc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32487306530:ios:284d1b99ada34b9b6a617b</string>
</dict>
</plist>